.ListItem {
  background-color: #8686AF;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  transition: background-color 0.3s;
  color: #ffffff;
  font-style: italic;
  font-weight: bold;
}

button:hover {
  background-color: #F2A2E8;
}

.ListItem:hover {
  background-color: #FEA3AA;
}