.ListItem {
  background-color: #8686AF;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;

button:hover {
  background-color: #F2A2E8;
}

.ListItem:hover {
  background-color: #FEA3AA;
}